/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

label{
color: white;
color: rgb(131,134,140); 
margin-top: 0.5em;
margin-bottom: 0.5em;
font-weight: bold;
}

textview{
color: rgb(131,134,140); 
padding-top: 0.2em;
padding-bottom: 0.2em;



}
text{
color: green;
background-color: rgb(77,85,95);
}

button{
border: solid;
margin-right: 1em;
margin-top: 1em;
margin-bottom: 1em;
}

scrolledwindow{
min-height: 10em;
border: hidden;
border-width: 0.05em;
border-color: rgb(131,134,140); 
border-left:hidden;
border-right: hidden;
padding-right: 0.5em;
padding-left: 0.5em

}
grid{
background-color: rgb(77,85,95);
padding-left: 1em;
}
